{% extends 'base.html' %}

{% block content %}

<div class="col-sm">
    <div class="card mx-auto mt-3" style="width: 18rem; background-color: #fde3f6;">
            <div class="card-body">
              <h5 class="card-title card-link">{{ book.title }}</h5>
              Our Rating:
                {% for i in range(book.rating) %}
                <span class="oi" data-glyph="star" aria-hidden="false" style="color: rgb(0, 153, 255);"></span>
                {% endfor %}
                <br><small> Good Read's Rating:
                {% for i in range(book.gr_rating) %}
                <span class="oi" data-glyph="star" aria-hidden="false" style="color: rgb(255, 0, 0);"></span>
                {% endfor %}</small>

                <br> <small>Read's Rating Count: {{ book.gr_count }}</small> 

              <p><h6 class="card-subtitle mb-2 text-muted">By: {{ book.author }}, {{ book.year }}</h6></p>
              <p class="card-text">ISBN: {{ book.isbn }}</p>
            </div>
    </div>
</div>

<div class="list-group mt-3">
    {% for review in book.reviews %}
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h8 class="mb-1">
            {% for review in range(review.rating) %}
            <span class="oi" data-glyph="star" aria-hidden="false" style="color: rgb(255, 0, 200);"></span>
            {% endfor %}
        </h8>
        
        
        <small>{{ review.user }}</small>
      </div>
      <p class="mb-1">{{ review.review }}</p>
    </a>
    {% endfor %}
</div>

<form action="{{ url_for('review') }}" method="POST" class="mt-3">
  <div class="form-group">
    <textarea class="form-control" id="review" name="review" rows="3" placeholder="Enter Review Here..." required></textarea>
  </div>

  <div class="form-group">
    <label for="rating">Rating:</label>
    <select class="form-control" id="rating" name="rating">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <input type="hidden" name="book_id" value="{{ book.id }}">
  <input type="hidden" name="isbn" value="{{ book.isbn }}">
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>


{% endblock %}